.idea/
*target/
*.iml
*.ipr
*.iws
.DS_Store
*.pyc
*~
\#*
*.swp
TEST*.xml
*/null/
atlassian-ide-plugin.xml
*/.checkstyle
.project
.settings
.classpath
.metadata
*jetty.request.log
.clover
jacoco-it.exec